* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    widows: 100vw;
    background-color: aquamarine;
    padding: 1rem 2rem;
    display: flex;
}

.navbar-item {
    margin: .2rem .5rem;
    padding: .2rem;
    background-color: rgb(57, 194, 148);
}

.navbar-item a {
    color: black;
}

.last-item {
    margin-left: auto;
}

.message {
    background-color: rgb(251, 255, 31);
}

.draft {
    color: red;
}